@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Creacion del titulo de la pagina */
*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  }

  body {
    text-align: center;
    background-color: hsla(0,100%,0%,1);
    } */
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
    }

#tituloNetflix {
    display: inline-block;
     color: rgb(255, 0,0);
    font-family: 'Bebas Neue', cursive;  
    font-size: 12em; 
     text-shadow: .03em .03em 0 rgb(255, 255, 255);
     }

  /* Creacion menú desplegable */
  nav {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.lista > li {
    float:left;
}

.lista li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.lista li a:hover {
    background-color:#434343;
}

.lista li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.lista li:hover > ul {
    display:block;
}

.lista li ul li {
    position:relative;
}

.lista li ul li ul {
    right:-140px;
    top:0px;
}

/*Estilos de los parrafos*/
section {
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    clear: both;
    padding-top: 25px;
    padding-left: 20px;
    text-align:start;
}
h2 {
    border-bottom: solid;
    border-bottom-width:medium;
    margin-right: 70%;
    margin-bottom: 10px;
}
